{% extends 'base.html' %}
{%block title%}
<title>Products</title>
{%endblock%}
{% block main %}
{% load staticfiles %}


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"><img src="{% static "realdeal.jpg" %}" style="height:50px;margin-left:100px;margin-top:-10px" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="height:60px">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li id="Configure" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {%  for category in categories %}

            <li class="dropdown-submenu">
              <a href="/category">{{ category.name}}</a>
              <ul class="dropdown-menu">
               {%for producttype in producttypes%}
                <li><a href="#">{{ producttype.product_type}} </a>
                </li>
                {% endfor%}
              </ul>
            </li>
            {% endfor%}
            </ul>
            
            </li>
            <li ><a href="#">Contact Us</a>
              <li ><a href="#">Log In</a>
        </li>
           
              </ul>
            </li>

          </ul>
        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<style>

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content:" ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


</style>
  

  
  
   
</div>
<style>
h1 {
    color: rgb(255,0,0);
}
h3{
    color:red;
}
.image{
    display: inline-block;
}
</style>
</div><style type="text/css">
   body { background: white !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

        


       

   

      
   

 <div class ="row">
{% for product in products%}
                

<div class="pb-left-column col-xs-12 col-sm-6 col-md-5 col-lg-5">
<div id="image-block" class="clearfix"> 
<div class="thumbnail">
<img class="img-responsive" title="Samsung" alt="samsung" width="458" id="bigpic" itemprop="image" src="{{product.primary_image.url}}">
</div>
</div>
</div>
<div class="pb-right-column col-xs-12 col-sm-6 col-md-7 col-lg-7">

                    <h1>{{product.name}}</h1></br>
                    {% if product.available_quantity == 0%}
                    <h1><mark>PRODUCT OUT OF STOCK</mark></h1>
                    {% else %}
                    <h3><mark>AVAILABLE</mark></h3>
                    {% endif %}
                    
                   

                    </h2>
            <p class="socialsharing_product list-inline no-print"> <button type="button" class="btn btn-default btn-twitter" > <i class="icon-twitter"></i> Tweet </button> <button type="button" class="btn btn-default btn-facebook"> <i class="icon-facebook"></i> Share </button> <button type="button" class="btn btn-default btn-google-plus"> <i class="icon-google-plus"></i> Google+ </button> <button type="button" class="btn btn-default btn-pinterest" > <i class="icon-pinterest"></i> Pinterest </button></p>
               
         
                 <strong>Type:</strong>
                <span class ="badge">{{product.product_type}}</span></br>
          
            
                <strong>Code:</strong>
                <span class="badge">{{product.product_code}}</span></br>
           
            
               
            
            
                <strong>Available Quantity</strong>
                <span class="badge"class>{{product.available_quantity}}</span></br>
                
             <p><mark><h1>NPR {{product.price}}</h1></mark></p>
            
           
            
            {%endfor%}
          


      
    
  </div>
  </div>
     
    
   
<style type="text/css">

    
    


.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.well{

    width:300px;
    height:300px;
    background-color: pink;
}
#categories-menu{
    display:none;
}
.dropdown-submenu a:hover + #categories-menu{
     display: block;

}
.view {
    padding-top: 7px;   
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
.thumbnail:hover .view {
    display: block;
}
.view a {
    color: #000;
}


</style>
                
  </div>
   
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
   

    
    </script>


     
    }
{% endblock %}

